<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583685461758-5edrjkmgr14gc290k22ekbvl5jaree28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583685461758-5edrjkmgr14gc290k22ekbvl5jaree28</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583685461758-ev86j3iimpav8if96ukgprvqn9s72iia.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwp_JgWBBmHK2SW31Y31uHEukqAH6OYVc</string>
	<key>GCM_SENDER_ID</key>
	<string>583685461758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.renderstudio</string>
	<key>PROJECT_ID</key>
	<string>app-render-studio</string>
	<key>STORAGE_BUCKET</key>
	<string>app-render-studio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583685461758:ios:078cebbcf74aec698337af</string>
</dict>
</plist>